<html>
<head>
<title>template test</title>
</head>
<body>
<p>This is template test.</p>
<p>{{ test }}</p>
<form method="post">{% csrf_token %}
    <input type="text" name="keyword"/>
    <input type="submit" />
</form>
<form action="{% url 'reasonable_recommendation_app:test_koya/ranking_search' %}" method="get">{% csrf_token %}
    <button type="submit">ランキング上位のみを表示する</button>
</form>
<h1>List of prooducts</h1>
    {% for product in product_list %}
    <p>
      ・{{ product }}
    </p>
    {% endfor %}
<h1>List of Items</h1>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Ranking</th>
            <th>Images</th>
        </tr>
    
    {% for result_item in result_item_list %}
        <tr>
            <td>{{ result_item.item_name }}</td>
            <td>{{ result_item.item_price }}</td>
            <td>{{ result_item.ranking }}</td>
            <td>
                {% for image_url in result_item.image_urls %}
                    <img src="{{ image_url }}">
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>