<html>
<head>
<title>template test</title>
</head>
<body>
<p>This is template test.</p>
<p>{{ test }}</p>
<form method="post">{% csrf_token %}
    <input type="text" name="keyword"/>
    <input type="submit" />
</form>
<h1>List of prooducts</h1>
    {% for product in product_list %}
    <p>
      ・{{ product }}
    </p>
    {% endfor %}
<h1>List of Items</h1>
    {% for result_item in result_item_list %}
        <p>
        ・Name: {{ result_item.name }} Price: {{ result_item.price }} Ranking: {{ result_item.ranking }}
        </p>
        {% for image_url in result_item.image_urls %}
            <img src="{{ image_url }}">
        {% endfor %}
    {% endfor %}
</body>
</html>